/* Variables */
:root {
    --basic-dark:#2F303A;
    --basic-blue:#2196F3;
    --basic-background:#E5E5E5;  
    --basic-white:#FFF; 
    --basic-gray:rgba(255,255,255,0.6); 
    --text-black-full:#000;
    --text-black-color:#212121; 
    --text-lightgray-color:#757575;
}
/* **************************HEADER start******************/

 

/* **************************HEADER end******************/
.header-logo-link {
    color:var(--basic-blue);    
}

.header-logo-link-text {
    color:var(--text-black-full);         
}
/* **************************NAV start******************/
.header-navigation {
       
} 

.header-navigation-list {
     
} 

.header-navigation-item {
     
} 

.header-navigation-item-link {
    color: var(--text-black-color);
} 

.header-contacts-item-link {
    color: var(--text-lightgray-color);
}

/* **************************NAV end******************/

/* ******************** MAIN start *********************/
/* ***************section - effective-solutions start****/

/* ***************section - effective-solutions end****/
/* ***************section - features start****/

/* ***************section - features end****/
/* ***************section - our-business start****/

/* ***************section - our-business end****/
/* ***************section - our-team start****/

/* ***************section - our-team end***/
/* ******************** MAIN end *********************/

/* **************************FOOTER start******************/

/* **************************FOOTER end******************/