/* Variables */
:root {
  --basic-dark: #2f303a;
  --basic-blue: #2196f3;
  --basic-background: #e5e5e5;
  --background-our-team: #f5f4fa;
  --basic-white: #fff;
  --grey-footer-text: #acacb0;
  --basic-gray: rgba(255, 255, 255, 0.6);
  --text-black-full: #000;
  --text-black-color: #212121;
  --text-lightgray-color: #757575;
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--text-black-color:);
}
/* **************************HEADER start******************/
.header {
  box-sizing: border-box;
}

.header-logo-link,
.footer-logo-link {
  color: var(--basic-blue);
  text-decoration: none;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
}

.header-logo-link-text,
.footer-logo-link-text {
  color: var(--text-black-full);
}

.header-line {
  display: flex;
  align-items: center;
  height: 80px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
/* **************************NAV start******************/
.header-navigation {
  padding-left: 43px;
}

.header-navigation-list,
.header-contacts-list {
  display: flex;
  list-style-type: none;
}

.header-contacts-list {
  padding-left: 265px;
}

.header-navigation-item {
  padding-left: 50px;
}

.header-navigation-item-link {
  color: var(--text-black-color);
}

.header-navigation-item-link:hover,
.header-contacts-item-link:hover {
  color: var(--basic-blue);
}

.header-navigation-item-link:focus,
.header-contacts-item-link:focus {
  color: var(--basic-blue);
}

.header-navigation-item-link,
.header-contacts-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
}

.studio {
  color: var(--basic-blue);
}

.header-contacts-item-link {
  color: var(--text-lightgray-color);
}

.header-contacts-item {
  padding-left: 50px;
}
/* **************************NAV end******************/
/* **************************HEADER end******************/
/* ******************** MAIN start *********************/
/* ***************section - effective-solutions start****/
.effective-solutions {
  margin: 0;
  height: 600px;
  background-color: var(--basic-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effective-solutions-title {
  margin: 0;
  width: 696px;
  padding-top: 200px;
  color: var(--basic-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.effective-solutions-buttons {
  padding: 10px 32px;
  margin-top: 30px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  filter: drop-shadow(0px 4px 2px black);
  border-radius: 4px;
  cursor: pointer;
}
/* ***************section - effective-solutions end****/
/* ***************section - features start****/
.features {
  margin-top: 93px;
  height: 110px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  list-style-type: none;
}

.features-item:not(:nth-child(1)) {
  padding-left: 63px;
}

.features-item {
  width: 245px;
}

.features-item-title {  
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.features-list-text {
  color: var(--text-lightgray-color);  
  font-size: 14px;
  line-height: 24px;
}
/* ***************section - features end****/
/* ***************section - our-business start****/

.our-business {
  margin-top: 93px;
}

.our-business-title,
.our-team-title {
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  /* color: var(--text-black-color); */
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.our-business-item:not(:nth-child(1)) {
  padding-left: 30px;
}

.our-business-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
/* ***************section - our-business end****/
/* ***************section - our-team start****/
.our-team {
  margin-top: 190px;
  background-color: var(--background-our-team);
}

.our-team-item {
  width: 270px;
  height: 368px;
}

.our-team-item:not(:nth-child(1)) {
  padding-left: 30px;
}

.our-team-item-name {  
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.our-team-item-function {
  color: var(--text-lightgray-color);  
  font-size: 16px;
  line-height: 19px;
}

.our-team-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.our-team-item-name,
.our-team-item-function,
.our-team-title {
  text-align: center;
}

/* ***************section - our-team end***/
/* ******************** MAIN end *********************/

/* **************************FOOTER start******************/

.footer {
  height: 252px;
  background-color: var(--basic-dark);
  margin-top: 95px;
}

.footer-address-list {
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.footer-address-item {
  padding-top: 9px;
}

.footer-item-contacts-link,
.footer-item-link {  
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;
}

.footer-item-contacts-link {
  color: var(--basic-white);
}

.footer-item-link {
  color: var(--grey-footer-text);
}

.footer-item-contacts-link:hover,
.footer-item-link:hover {
  color: var(--basic-blue);
}

.footer-item-contacts-link:focus,
.footer-item-link:focus {
  color: var(--basic-blue);
}

.footer-logo-link-text {
  color: var(--basic-white);
}

.footer-block {
  padding-top: 60px;
}

/* **************************FOOTER end******************/
.portf-buttons-list,
.portf-blocks-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.portf-buttons-list {
  width: 611px;
  margin: 0 auto;
  margin-top: 110px;
}

.portf-blocks-item {
  width: 370px;
  height: 404px;
}

.portf-blocks-item-name,
.portf-blocks-item-function {
  text-align: left;
}

.portf-blocks-item-name {
  font-size: 18px;  
}

.portf-blocks-item-function {
  font-size: 16px;
  color: var(--text-lightgray-color);
}

.portf-blocks-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.portf-main-buttons {
  padding: 6px 22px;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}

.portf-main-buttons:hover {
  background-color: var(--basic-blue);
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  color: var(--basic-white);
}

.portf-main-buttons:focus {
  background-color: var(--basic-blue);  
  color: var(--basic-white);
}

.portf-blocks-list {
  margin-top: 35px;
}

.portf-blocks-list-link {
  text-decoration: none;
}